[submodule "lib/vobla"]
	path = lib/vobla
	url = https://github.com/vsfs/vobla.git
	ignore = dirty
[submodule "pyro"]
	path = pyro
	url = https://github.com/eddyxu/pyro.git
	#url = git@github.com:eddyxu/pyro.git
	ignore = dirty
